﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Page.master.cs" Inherits="FR.AFCEPF.AI107.Nomads.Projet2.Groupe1.Presentation.Page" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>

    <link href="css/style.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>

<body>
    <form id="form1" runat="server">
        <div id="mainContent">
            <header>

                <table class="auto-style1">
                    <tr>
                        <td>
                            <%--<img src="images/logoNomads.jpg" />
                            <asp:ImageButton ID="ImageButton1" runat="server" />--%>
                            <asp:ImageButton
                                ID="imgLogoNomads"
                                runat="server"
                                ImageUrl="~/images/logoNomads.jpg"
                                OnClick="imgLogoNomads_Click" />

                        </td>
                        <td>LE BIEN-ÊTRE VIENT À VOUS, OÙ QUE VOUS SOYEZ</td>
                    </tr>
                </table>

            </header>
            <nav>
                <ul>

                    <li><a href="Home.aspx">Accueil</a></li>
                    <li><a href="Masseurs.aspx">Masseurs </a></li>
                    <li class="dropdown">
                        <a class="dropbtn">Partenaires</a>
                        <div class="dropdown-content">
                            <a href="BarEtRestaurants.aspx">Bar & Restaurants</a>
                            <a href="Entreprise.aspx">Entreprise</a>
                        </div>
                    </li>
                    <li><a href="Tournees.aspx">Tournées</a></li>
                    <li><a href="Intervention.aspx">Interventions </a></li>
                    <li><a href="#">Formations </a></li>
                    <li><a href="#">Materiel </a></li>
                    <li><a href="#">Agenda </a></li>
                </ul>
            </nav>
            <section id="contenu">
                <asp:ContentPlaceHolder ID="principal" runat="server">
                </asp:ContentPlaceHolder>
            </section>
            <footer>
                <p>© 2020 by Nomad's with good vibes !  </p>
            </footer>
        </div>
    </form>
</body>
</html>

