﻿body {

    background-color: darkcyan;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#mainContent {
    display: flex;
    flex-direction: column;
    min-height: 180vh;
}

    #mainContent > header,
    #mainContent > nav,
    #mainContent > section,
    #mainContent > footer {
        background-color: aquamarine;
        padding: 10px;
        border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.auto-style1 {
    width: 100%;
}

.auto-image {
    width: 600px;
    height: 450px;
    border-image: auto;
}

.auto-text {
    text-align: justify;
}

.auto-style2 {
    width: 100%;
    text-align: center;
    color: brown;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    text-align: center;
}

    .grid-container p {
        background-color: aquamarine;
        text-align: center;
        padding: 60px 0px;
        font-size: 20px;
        margin-left: 10px;
    }

    .grid-container h3 {
        color: aquamarine;
    }

#mainContent > header {
    flex-basis: 20%;
    padding-left: 25px;
    line-height: 25px;
    font-size: 1.4em;
    background: url(logoNomads.jpg) no-repeat left bottom;
    color: #9b2;
    border-bottom: 1px solid #9b2;
}

#mainContent > nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#mainContent > nav li {
    float: left;
}

    #mainContent > nav li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        #mainContent > nav li a:hover, .dropdown:hover .dropbtn {
            background-color: red;
        }

    #mainContent > nav li.dropdown {
        display: inline-block;
    }

#mainContent > nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    #mainContent > nav .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        #mainContent > nav .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

#mainContent > nav .dropdown:hover .dropdown-content {
    display: block;
}

#mainContent > section {
    flex-grow: 1;
}

#mainContent > footer {
    flex-basis: 15%;
    list-style: none;
    text-align: center;
    color: red;
}

.cssGvBarEtRestaurants {
    width: 100%;
    border: solid 4px black;
    text-align: center;
    background-color:aliceblue;
}
.cssGvEntreprise {
    width: 100%;
    border: solid 4px black;
    text-align: center;
    background-color: aliceblue;
}
.cssGvMasseurs {
    width: 100%;
    border: solid 4px black;
    text-align: center;
    background-color: aliceblue;
}

.cssGvMasseursDispos {
    width: 100%;
    border: solid 4px black;
    text-align: center;
    background-color: aliceblue;
}

.cssGvMasseurAffectes {
    width: 100%;
    border: solid 4px black;
    text-align: center;
    background-color: aliceblue;
}

.cssGvTournees {
    width: 100%;
    border: solid 4px black;
    text-align: center;
    background-color: aliceblue;
}
.DetailsPartenaire {
   
    background-color: blanchedalmond;
    float: left;
    width: auto;
    border: 4px solid #000000;
    border-radius: 6px;
    margin: 5px;
    padding: 5px;
}


.cssGvPreferences {
    width: 100%;
    border: solid 4px black;
    text-align: center;
    background-color: aliceblue;
}

.cssGvIndisponibilites {
    width: 100%;
    border: solid 4px black;
    text-align: center;
    background-color: aliceblue;
}

.cssGvDepart {
    width: 100%;
    border: solid 4px black;
    text-align: center;
    background-color: aliceblue;
}
.cssGvActions {
    width: 100%;
    border: solid 4px black;
    text-align: center;
    background-color: aliceblue;
}
.cssGvEvolutionMasseur {
    width: 100%;
    border: solid 4px black;
    text-align: center;
    background-color: aliceblue;
}
.cssGvMads {
    width: 100%;
    border: solid 4px black;
    text-align: center;
    background-color: aliceblue;
}
.success {
    color: red;
}

.cssGvMassageIntervention {
    width: 100%;
    border: solid 4px black;
    text-align: center;
    background-color: aliceblue;
}

.DetailsMassageIntervention {
    background-color: blanchedalmond;
    float: left;
    width: auto;
    border: 4px solid #000000;
    border-radius: 6px;
    margin: 5px;
    padding: 5px;
}